{% load static %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <div class="border mb-2" style="height: 100px">
                    <img src="{% static "img/common_member.png" %}" alt="Avatar" class="img-fluid" style="height: 100px; margin-left: 53px; margin-right: 43px;">
                </div>
                <div class="d-flex gap-3 mt-3">
                    <button type="button" class="btn btn-outline-success d-flex align-items-center like-button" data-count="{{ answer.like_count }}">
                        <span class="me-1">👍</span>
                        <span class="badge bg-success ms-2">{{ answer.like_count }}</span>
                    </button>
                    <button type="button" class="btn btn-outline-danger d-flex align-items-center dislike-button" style="margin-left: 30px;" data-count="{{ answer.dislike_count }}">
                        <span class="me-1">👎</span>
                        <span class="badge bg-danger ms-2">{{ answer.dislike_count }}</span>
                    </button>
                </div>

            </div>
            <div class="col-9">
                <div><b>{{ answer.profile.user.username }} replied:</b> </div>
                <p class="card-text"> {{ answer.text }} </p>

                <div class="form-check mt-5">
                    {% if answer.is_correct == 'c' %}
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!    
                    </label>
                    {% elif answer.is_correct == 'p' %}
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Correct!    
                    </label>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>