{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Questions</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-items-center">
          <a class="navbar-brand ms-5" href="{% url "index" %}"><div class="navbar-name fs-2">AskMe</div></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

          <form class="d-flex flex-grow-1 ms-5" role="search">
            <div class="input-group">
              <input class="form-control" type="search" placeholder="Search" aria-label="Search" />
              <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
            <a href="{% url "ask" %}" class="btn btn-outline-success ms-5 me-5 w-50" role="button">Ask question</a>
          </form>

          <div class="d-flex gap-1 me-3">
            {% if request.user.is_authenticated %}
              {% if request.user.profile.image_path %}
                <img src="{{ request.user.profile.image_path.url }}" alt="Avatar" class="img-fluid" style="height: 50px;" />
              {% else %}
                <img src="{% static 'img/common_member.png' %}" alt="Avatar" class="img-fluid" style="height: 50px;" />
              {% endif %}
              <div>
                <div>{{ request.user.username }}</div>
                <a href="{% url "settings" %}">Settings</a>
                <a href="{% url "logout" %}">Log out</a>
              </div>
            {% else %}
              <a href="{% url "login" %}">Log in</a>
              <a href="{% url "signup" %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>

    <main class="container mt-3">
      {% block page_title %}{% endblock page_title %}
      <div class="row">
        <div class="col-9">
          {% block content %}

          {% endblock %}
        </div>
        <div class="col">
          <section class="mb-3">
            <h2>Popular Tags</h2>
            <div>
              {% for tag in popular_tags %}
              <span class="badge text-bg-primary"><a href="{% url 'tag_page' tag.tag_name %}" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">{{ tag.tag_name }}</a></span>
              {% endfor %}
            </div>
          </section>

          <section>
            <h2>Best members</h2>
            <div>
              <ul class="list-group list-group-flush">
                {% for member in popular_members %}
                  <li class="list-group-item">
                    {{ member.user.username }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
      </div>
    </main>
    <script src = "{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/pick_correct_answer.js' %}"></script>
    <script src="{% static 'js/answer_likes_dislikes.js' %}"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
