{% load static %}
{% load bootstrap5 %}

{% if request.user.is_authenticated %}
<form action="{% url 'question' question_id=question.id %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% buttons %}
        <div class="d-flex align-items-start mt-3 ">
            <button type="sumbit" class="btn btn-outline-success d-flex align-items-center like-button">Answer</button>
        </div>
    {% endbuttons %}
</form>
{% endif %}