{% block content %}
{% load bootstrap5 %}

<form action = "{% url "login" %}" method = "POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% buttons %}
        <div class="d-flex align-items-start mt-3">
            <button type="submit" class="btn btn-outline-success d-flex align-items-center like-button">Log in!</button>
        </div>
    {% endbuttons %}
</form>

<div class="d-flex align-items-start mt-3 mb-5">
    <a href="{% url "signup" %}" class="create-acc-link">Create new account!</a>
</div>
{% endblock %}