{% load static %}
{% load bootstrap5 %}

<form action="{% url 'settings' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div class="alert alert-success {{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% buttons %}
        <div class="d-flex align-items-start mt-3 mb-5" style="margin-left: 170px;">
            <button type="submit" class="btn btn-outline-success d-flex align-items-center like-button">Save!</button>
        </div>
    {% endbuttons %}
</form>