{% load static %}
<div class="d-flex align-items-start mt-3 me-5">
    <label for="questionText" class="me-5">Login:</label>
    <input type="text" class="form-control" style="margin-left: 80px; width: 490px;" id="questionText" value="Your login" style="margin-left: 83px;">
</div>

<div class="d-flex align-items-start mt-3 me-5">
    <label for="questionText" class="me-5">Email:</label>
    <input type="text" class="form-control" style="margin-left: 80px; width: 490px;" value="Your email" style="resize: none; margin-left: 83px;">
</div>

<div class="d-flex align-items-start mt-3" style="margin-left: -5px;">
    <label for="tags" class="me-5">Nickname:</label>
    <input type="text" class="form-control w-50" id="tags" value="Your nickname" style="margin-left: 53px;">
</div>

<div class="d-flex align-items-start mt-3">
    <label for="avatar" class="me-5">Avatar:</label>
    <form action="/upload" method="post" enctype="multipart/form-data" style="margin-left: 20px">
        <img id="avatarPreview" src="../static/img/common_member.png" alt="Avatar" class="img-fluid d-block mb-2" style="margin-left: 50px; height: 140px; object-fit: contain;">
        <input type="file" id="avatar" name="file" accept=".jpg,.png" onchange="previewImage()" style="margin-left: 50px; margin-top: 10px;">
    </form>
</div>

<div class="d-flex align-items-start mt-3 mb-5" style="margin-left: 170px;">
    <button type="button" class="btn btn-outline-success d-flex align-items-center like-button">Save!</button>
</div>