{% extends "layouts/base.html" %}
{% load static %}
{% load bootstrap5 %}
{% block page_title %}
<div class="d-flex gap-3 align-items-center">
    <h1>New question:</h1>
</div>
{% endblock page_title %}

{% block content %}
<div class="d-flex flex-column gap-3">
    <form action="{% url "ask" %}" method="POST">

        {% csrf_token %}
        {% bootstrap_form form %}
        {% if form.non_field_errors %}
            <div class="error">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
                
        {% buttons %}
            <div class="d-flex align-items-start mt-3 mb-5">
                <button type="submit" class="btn btn-outline-success d-flex align-items-center like-button">ASK!</button>
            </div>
        {% endbuttons %}
    </form>
    
</div>
{% endblock content %}