{% extends "layouts/base.html" %}
{% load static %}

{% block page_title %}
<div class="d-flex gap-3 align-items-center">
    <h1> {{ question.title }}</h1>
</div>
{% endblock page_title %}

{% block content %}
<div class="d-flex flex-column gap-3">
    {% include "card.html" %}
    <hr style="border: 1px solid #000; margin: 20px 0;">

    {% for answer in answers %}
        {% include "layouts/answer.html" %}
    {% endfor %}

    {% include "layouts/pagination.html" %}

    <hr style="border: 1px solid #000; margin: 20px 0;">

    {% include "layouts/field_enter_answer.html" %}
</div>
{% endblock content %}

